<!DOCTYPE html>
<html>
<head>
  <title>RailApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'devise/menu/login_items' %>
<%= yield %>

</body>
</html>
